__pycache__/
.venv/
.venv312/
venv/
*.pyc
data/videos/*
!data/videos/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
data/images/*
!data/images/.gitkeep
*.pt
.DS_Store
.env
yolov8*.pt
.pytest_cache/
*.egg-info/
dist/
build/
